$lightweight-primary: #2ebdbd;
$lightweight-main: $lightweight-primary;
$lightweight-secondary: #537c8e;
$lightweight-tertiery: #eff1e4;
$lightweight-additional: #ceae7f;

$lightweight-grey: #ddddda;
$lightweight-green: #436c34;
$lightweight-red: #fa6560;
$lightweight-yellow: #ff8422;
$lightweight-blue: #00b4fb;
$lightweight-dark-blue: #001a41;
