@import "../styles/index.scss";

.rightweight-basic-metric {
  display: flex;
  flex: 1 1 0;
  justify-content: center;
  font-size: 2rem;
  padding: 24px 16px;
  margin: 0 16px;
  border: 1px solid #ceae7f;
  border-radius: 4px;

  i {
    margin-right: 8px;
  }

  .metric-info {
    display: block;
    font-size: 0.9rem;
    text-align: right;
  }
}
